.cards-container {
  display: flex;
  flex-direction: row;
  /* Enable horizontal scrolling */
  overflow-x: scroll; 
  /* Optional: remove vertical scrollbars, if you don’t need them */
  overflow-y: hidden;
  gap: 1rem; /* spacing between cards */
  padding: 1rem; /* some horizontal padding, optional */
  align-items: stretch;
}

.pet-feed-container {
  background-color: var(--background-color);
  color: #333;
  font-family: 'Arial', sans-serif;
  /* padding: 1em; */
  scroll-behavior: smooth;
}

.pet-card {
  height: auto;
  background: var(--vibrant-purple);
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1rem; /* add some spacing at bottom if you like */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;  /* so text stacks, then button sits below */
  justify-content: space-between; /* space the content apart */
  flex: 0 0 170px;
}

.pet-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* let body grow to fill available space */
}

.pet-card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.pet-photo {
  height: 200px;
  object-fit: cover; /* Ensure consistent image dimensions */
  border-bottom: 1px solid #eee;
}

.details-button {
  margin-top: 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
}
  
  .pet-name {
    font-size: 1.3em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .pet-description {
    line-height: 1.4em;
  }
  
  .spot-button {
    background: var(--accent-orange);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .spot-button:hover {
    background: #e4783a;
  }
  
.pac-container {
    z-index: 1060 !important; /* Higher than Bootstrap modals */
}

.seenTimeStamp {
  font-size: 9px;
  margin-left: 15px;
}

.seenLocation {
  font-size: 12px;
}

.search-box {
  margin-top: 2em;
  padding: 0 2.5em;
}

.search-input {
  border: 2px solid black;
}

.search-btn {
  border: 2px solid black;
}


  
  
  
  
  